{% extends 'base_auth.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="auth-card">
    <a class="brand" href="{% url 'shops:list' %}">
        <div class="brand-badge"></div>
        <div>MirOpt Stats</div>
    </a>
    <h1 class="auth-title">Вход в аккаунт</h1>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <button type="submit">Войти</button>
        </div>
    </form>
    <div class="auth-footer">
        <a href="{% url 'account:password_reset' %}">Забыли пароль?</a>
        <div>Нет аккаунта? <a href="{% url 'account:register' %}">Регистрация</a></div>
    </div>
</div>
{% endblock %}
