{% extends 'base_auth.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="auth-card">
    <div class="brand">
        <div class="brand-badge"></div>
        <div>MirOpt Stats</div>
    </div>
    <h1 class="auth-title">Регистрация</h1>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <button type="submit">Зарегистрироваться</button>
        </div>
    </form>
    <div class="auth-footer">
        Уже есть аккаунт? <a href="{% url 'account:login' %}">Войти</a>
    </div>
</div>
{% endblock %}
