{% extends 'base_auth.html' %}

{% block title %}Set new password{% endblock %}

{% block content %}
<div class="auth-card">
    <a class="brand" href="{% url 'shops:list' %}">
        <div class="brand-badge"></div>
        <div>MirOpt Stats</div>
    </a>
    <h1 class="auth-title">Новый пароль</h1>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <button type="submit">Обновить пароль</button>
        </div>
    </form>
</div>
{% endblock %}
