{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MirOptStats{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
<div class="page">
    <main class="auth-main">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</div>
</body>
</html>
